# ignore eclipse bin directory
*/bin
# ignore generation directory in all modules
*/dist
# ignore user configuration files
*/user-conf.properties
# binary, generate or backup files
*.jar
*.class
*~
*.bak
# log files
*/*.log
# tools directory
tools
